<!DOCTYPE html>
<html lang="en" ng-app="ToDoApp">
<head>
    <meta charset="UTF-8">
    <title>ToDoList App</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/bower_components/animate.css/animate.min.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body ng-controller="ToDoCtrl as ctrl">
    <div class="container-fluid">
    	<div class="row">
            <h1>To Do List</h1>
        </div>
        <div class="row">
            <div class="form-group col-lg-3">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-primary" ng-click="ctrl.post_action1()">Post_Action1</button>
                </div>
            </div>
            <div class="form-group col-lg-3">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-success" ng-click="ctrl.get_action2()">Get_Action2</button>
                </div>
            </div>
            <div class="form-group col-lg-3">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-success" ng-click="ctrl.get_action3()">Get_Action3</button>
                </div>
            </div>
            <div class="form-group col-lg-3">
                <span class="custom_border">{{ctrl.message}}</span>
            </div>
        </div>
        <div class="row">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="i in ctrl.receiveItems">
                    <!--{{ i.name }} &times; {{ i.quantity }}-->
                    {{ i }}
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="item in i">
                            {{ item }}
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</body>
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="/bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript" src="js/controller.js"></script>
    <script type="text/javascript" src="js/service.js"></script>
</html>